<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>

    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #E8FBF7;
        }


        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 70px;
            padding: 0 20px;
            background-color: #4ECDAF;
            color: white;
            box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        }

        .header .hello {
            font-size: 22px;
            font-weight: bold;
        }

    
        .nav-menu {
            display: flex;
            gap: 20px;
            font-size: 18px;
            font-weight: bold;
        }

        .nav-menu div {
            padding: 8px 14px;
            border-radius: 6px;
            transition: 0.2s;
        }

        .nav-menu div:hover {
            background-color: #38A78A;
            cursor: pointer;
        }

        .active {
            background-color: #38A78A;
        }

        .view {
            display: none;
            padding: 25px;
        }

        #view-recipes {
            display: block; 
        }
        .nav-menu a {
            padding: 8px 14px;
            border-radius: 6px;
            transition: 0.2s;
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

        .nav-menu a:hover {
            background-color: #38A78A;
        }

        .nav-menu a.active {
            background-color: #38A78A;
        }

    </style>
</head>

<body>

    <div class="header">
    <div class="hello">Hello, User</div>

    <div class="nav-menu">
        <a href="/recipes/myrecipes">My Recipes</a>
        <a href="/recipes/cards">My Cards</a>
        <a href="/shopping">Shopping</a>
    </div>
</div>
</body>
</html> -->
